spring:
  cloud:
    gateway:
      routes:
        - id: auth-service
          uri: lb://AUTH-SERVICE
          predicates:
            - Path=/auth/**

        - id: user-service
          uri: lb://USER-SERVICE
          predicates:
            - Path=/users/**

        - id: job-service
          uri: lb://JOB-SERVICE
          predicates:
            - Path=/jobs/**

        - id: application-service
          uri: lb://APPLICATION-SERVICE
          predicates:
            - Path=/applications/**

jwt:
  secret: jobportal-secret-key

server:
  port: 8080